header  { 
    width: 100%;
}

body {
    background-image: url("../images/starwarsbackground.jpg"); 
    background-size: cover;
    background-color: #F5F1ED ;
    font-family: 'Roboto', sans-serif;
}

h1 { 
    margin-left: 60%;
    font-size: 30px;
}

.character { 
    width: 150px;
    height: 150px;
    border: solid 2px green;
    float: left;
    margin: 1% 1% 1% 0;
    background-color: lightblue;
}

.playerCharacter { 
    background-color: white;
}

.enemyList { 
    background-color: red;
}

.defender { 
    background-color: black;
    color: white;
}



img { 
    width: 90%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 0 3% 0;
}


p { 
   text-align: center;
   padding: 0;
   margin: 0;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


button { 
    margin: 0;
}

h3 { 
    margin: 0;
}
